---
type Props = {
  id?: string
  className?: string
}

const { id, className } = Astro.props
---

<h1
  id={id}
  class:list={[
    'mb-4 font-serif text-[28px] font-semibold leading-[32px] text-black md:mb-6 md:text-[40px] md:leading-[48px]',
    className,
  ]}
>
  <slot />
</h1>
