---
interface Props {
  id?: string
  className?: string
}

const { id, className } = Astro.props
---

<h2
  id={id}
  class:list={[
    'mb-3 font-serif text-[22px] font-bold leading-[27px] text-black md:mb-5 md:text-[32px] md:leading-[48px]',
    className,
  ]}
>
  <slot />
</h2>
