---
import Layout from './Layout.astro'
import { Navbar } from './navbar/Navbar.tsx'
import { mainNavigation } from './navbar/navigation'

type Props = { title?: string }
const { title }: Props = Astro.props

const pathname = new URL(Astro.request.url).pathname
---

<Layout title={title}>
  <div class="mx-auto flex h-screen max-w-[1440px] flex-col bg-white">
    <Navbar path={pathname} mainNavigation={mainNavigation} client:load />
    <main class="z-0 flex-grow">
      <slot />
    </main>
  </div>
</Layout>
