---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<section class:list={["my-10 px-4", className]}>
  <div class="max-w-[919px] mx-auto">
    <slot />
  </div>
</section>
