---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<section class:list={["my-4 md:my-8", className]}>
  <div class="max-w-[919px] mx-auto p-4 my-2">
    <slot />
  </div>
</section>
