---
type Props = {
  className?: string
  extraMargin?: boolean
  extraPadding?: boolean
}
const { className, extraMargin = true, extraPadding = false } = Astro.props
---

<section class:list={['px-4', extraMargin ? 'my-10' : '', extraPadding ? 'py-8' : '', className]}>
  <div class="mx-auto max-w-[920px]">
    <slot />
  </div>
</section>
