---
import PageHeader from '@components/PageHeader.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const projects = await getCollection('measuretowns')
  return projects.map((entry) => ({
    params: { townslug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { title } = entry.data
---

<LayoutPage title={title}>
  <PageHeader title={title} subTitle="Zahlen und Ziele" />
  <div>Dashboard</div>
  <!-- <MeasureMapAndList client:load /> -->
</LayoutPage>
