---
import PageHeader from '@components/PageHeader.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import { MeasureCard } from '@components/page_massnahmen/MeasureCard'
import { getCollection } from 'astro:content'

const measures = await getCollection('measures')
const subTopics = await getCollection('subprojectstopics')
---

<LayoutPage title="Maßnahmen">
  <PageHeader
    title=`Alle Maßnahmen (${measures.length})`
    subTitle="Alle Maßnahmen zur Radverkehrsförderung in den Gemeinden Eichwalde, Schulzendorf, Wildau und Zeuthen veröffentlicht."
  />

  <Section className="bg-[#DBEAFE]" extraPadding>
    {measures.map((measure) => <MeasureCard subTopics={subTopics} measure={measure} client:load />)}
  </Section>
</LayoutPage>
