---
import PageHeader from '@components/PageHeader.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import { MeasuresListAndMap } from '@components/page_massnahmen/MeasuresListAndMap'
import { getCollection } from 'astro:content'
import { getGeometryByNudafaIds } from 'src/utils/getGeometryByNudafaId'

const measures = await getCollection('measures')
const subTopics = await getCollection('subprojectstopics')
const measureIds = measures.map((m) => m.data.nudafa_id)
const features = getGeometryByNudafaIds(measureIds)

export type SubTopics = typeof subTopics
type Measures = typeof measures
export type Measure = Measures[number]
---

<LayoutPage title="Maßnahmen">
  <PageHeader title="NUDAFA Region" />
  <Section className="bg-[#E5ECF2]">
    <MeasuresListAndMap features={features} client:load measures={measures} subTopics={subTopics} />
  </Section>
</LayoutPage>
