---
import PageHeader from '@components/PageHeader.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import { linkStyles } from '@components/links/styles'
import { MapLayerOrder } from '@components/page_radnetz_admin/MapLayerOrder'
---

<LayoutPage title="ADMIN: Alle Layer in Reihenfolge" noindex>
  <PageHeader title="ADMIN: Alle Layer in Reihenfolge" />

  <Section className="prose prose-sm">
    <h2>Vorgehen</h2>
    <ol>
      <li>
        Reihenfolge ändern (drag&drop). Der oberste Eintrag der Liste ist auch der oberste Layer in
        der Karte.
      </li>
      <li>Inhalt des Textfeldes (rechts) kopieren.</li>
      <li>
        <a
          href="https://github.com/FixMyBerlin/nudafa/edit/main/src/components/page_radnetz/sortLayers/beforeIds.const.ts"
          target="_blank"
          class={linkStyles}
        >
          <code>beforeIds.const.ts</code> auf Github öffnen
        </a>.
      </li>
      <li>
        Inhalt von <code>beforeIds.const.ts</code>
        mit dem Inhalt des Textfeldes ersetzten und committen.
      </li>
      <li>Nach dem folgenden Deploy sind die Änderungen sichtbar.</li>
    </ol>
  </Section>
  <MapLayerOrder client:load />
</LayoutPage>
