---
import Layout from '@components/layouts/Layout.astro'
import { linkStyles } from '@components/links/styles'
import { MapLayerOrder } from '@components/page_radnetz_admin/MapLayerOrder'
---

<Layout title="ADMIN: Alle Layer in Reihenfolge" noindex>
  <section class="prose prose-sm">
    <h1>ADMIN: Alle Layer in Reihenfolge</h1>
    <details>
      <summary class="cursor-pointer font-bold underline hover:underline-offset-2">Vorgehen</summary
      >
      <ol>
        <li>Button "LAYER AUS KARTE ÜBERNEHMEN" klicken um die Liste zu füllen</li>
        <li>
          Reihenfolge ändern (drag&drop) in der linken Tabelle. <br />
          Der oberste Eintrag der Liste ist auch der oberste Layer in der Karte.
        </li>
        <li>
          Ergebnis kontrollieren in der Tabelle rechts. Die 2. Spalte zeigt die "Gruppen" an Layer
          und unter welchem Layer sie einsortiert werden. Die erste Spalte zeigt die Reihenfolge
          innerhalb der Gruppe.
        </li>
        <li>Inhalt des weißen Textfeldes (unten rechts) kopieren.</li>
        <li>
          <a
            href="https://github.com/FixMyBerlin/nudafa/edit/main/src/components/page_radnetz/sortLayers/beforeIdEntries.const.ts"
            target="_blank"
            class={linkStyles}
          >
            <code>beforeIdEntries.const.ts</code> auf Github öffnen
          </a>.
        </li>
        <li>
          Inhalt von <code>beforeIdEntries.const.ts</code>
          mit dem Inhalt des Textfeldes ersetzten und committen.
        </li>
        <li>Nach dem folgenden Deploy sind die Änderungen sichtbar.</li>
      </ol>
    </details>
  </section>
  <MapLayerOrder client:load />
</Layout>
