---
import PageHeader from "../components/PageHeader.astro";
import Link from "../components/links/Link.astro";
import Layout from "../components/layouts/Layout.astro";
import Section from "../components/layouts/Section.astro";
---

<Layout>
  <PageHeader title="Fehler 404" subTitle="Diese Seite existiert nicht." />
  <Section>
    <Link href="/">Zurück zur Startseite</Link>
  </Section>
</Layout>
