---
import PageHeader from '@components/PageHeader.astro'
import ProseMarkdown from '@components/ProseMarkdown.astro'
import SubProjectSection from '@components/SubProjectSection.astro'
import LayoutPage from '@components/layouts/LayoutPage.astro'
import Section from '@components/layouts/Section.astro'
import { getEntry } from 'astro:content'
import { mdxComponentsAstro } from 'keystatic/components/mdxComponentsAstro.astro'

const homepageintro = await getEntry('homepageintro', 'index')
const homepagemain = await getEntry('homepagemain', 'index')

const { title, subTitle } = homepageintro.data
const { Content } = await homepageintro.render()
const { Content: ContentMain } = await homepagemain.render()
---

<LayoutPage>
  <PageHeader title={title} subTitle={subTitle}>
    <ProseMarkdown>
      <Content components={mdxComponentsAstro} />
    </ProseMarkdown>
  </PageHeader>
  <SubProjectSection />
  <Section>
    <ProseMarkdown>
      <ContentMain components={mdxComponentsAstro} />
    </ProseMarkdown>
  </Section>
</LayoutPage>
