---
import { getEntry } from "astro:content";
import ImageDouble from "../components/ImageDouble.astro";
import ImageSingleHorizontal from "../components/ImageSingleHorizontal.astro";
import ImageSingleSquare from "../components/ImageSingleSquare.astro";
import ImageSingleVertical from "../components/ImageSingleVertical.astro";
import PageHeader from "../components/PageHeader.astro";
import ProseMarkdown from "../components/ProseMarkdown.astro";
import SubProjectSection from "../components/SubProjectSection.astro";
import Layout from "../components/layouts/Layout.astro";
import Section from "../components/layouts/Section.astro";
import TextLinkArrow from "../components/links/TextLinkArrow.astro";

const homepageintro = await getEntry("homepageintro", "index");
const homepagemain = await getEntry("homepagemain", "index");

const { title, subTitle } = homepageintro.data;
const { Content } = await homepageintro.render();
const { Content: ContentMain } = await homepagemain.render();
---

<Layout>
  <PageHeader title={title} subTitle={subTitle}>
    <Content
      components={{
        ImageSingleHorizontal,
        ImageSingleSquare,
        ImageSingleVertical,
        ImageDouble,
        TextLinkArrow,
      }}
    />
  </PageHeader>
  <SubProjectSection />
  <Section>
    <ProseMarkdown>
      <ContentMain
        components={{
          ImageSingleHorizontal,
          ImageSingleSquare,
          ImageSingleVertical,
          ImageDouble,
          TextLinkArrow,
        }}
      />
    </ProseMarkdown>
  </Section>
</Layout>
