---
type Props = {
  communeName: string
  communeColor?: string
}

const { communeName, communeColor } = Astro.props as Props

const getColorClass = (communeColor: string | undefined) => {
  switch (communeColor) {
    case '#AED7A0':
      return 'bg-[#AED7A0]'
    case '#F9A8D4':
      return 'bg-[#F9A8D4]'
    case '#95E8D8':
      return 'bg-[#95E8D8]'
    case '#BAE6FD':
      return 'bg-[#BAE6FD]'
    case '#79C6FD':
      return 'bg-[#79C6FD]'
    case '#FCA5A5':
      return 'bg-[#FCA5A5]'
    case '#FCA5A5':
      return 'bg-[#FCA5A5]'
    case '#FFFBEB':
      return 'bg-[#FFFBEB]'
    default:
      return 'bg-[#FFFBEB]'
  }
}

const communeColorClass = getColorClass(communeColor)
---

<span class:list={['list-none rounded-md px-2 py-px text-sm text-black', communeColorClass]}>
  {communeName}
</span>
