---
type Props = {
  communeName: string
  communeColorClass: string
}

const { communeName, communeColorClass } = Astro.props as Props
---

<span class:list={['list-none rounded-md px-2 py-px text-sm text-black', communeColorClass]}>
  {communeName}
</span>
