---
import { getCollection } from 'astro:content'
import CommuneLabel from './CommuneLabel.astro'

type Props = {
  communeIds: string[]
}

const { communeIds } = Astro.props as Props

const communes = await getCollection('communes')

const filteredAndSortedCommunes = communes
  .filter((commune) => {
    return communeIds.includes(commune.slug)
  })
  .sort((a, b) => a.data.order - b.data.order)
---

{
  filteredAndSortedCommunes.map((commune) => (
    <li>
      <CommuneLabel communeName={commune?.data.name} communeColor={commune.data.color} />
    </li>
  ))
}
