---
import { Image } from 'astro:assets'
import TextLinkArrow from './links/TextLinkArrow.astro'

type Props = {
  image: any
  name: string
  website?: string
}
const { name, image, website } = Astro.props
---

<li
  class:list={[
    'flex min-h-[192px] w-full flex-col items-center justify-between gap-6 rounded-sm bg-white pt-8 text-sm shadow-lg',
  ]}
>
  <figure class:list={['w-full']}>
    <Image
      class="mx-auto h-[160px] w-auto overflow-hidden object-cover"
      src={image}
      alt={''}
      loading="lazy"
    />
    <figcaption></figcaption>
  </figure>
  <div class="flex flex-col items-center gap-2 pr-6 text-center sm:px-4">
    <p class="text-center font-semibold">{name}</p>
  </div>
  {
    website && (
      <div class="flex w-full justify-center border-t py-3">
        <TextLinkArrow display="Website" external href={website} />
      </div>
    )
  }
</li>
