---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  src: string;
  alt: string;
  caption: string;
  position?: "left" | "right" | "center";
}
const { src, alt, caption, position } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,webp,JPG,JPEG,PNG,GIF}"
);
if (!images[src])
  throw new Error(
    `"${src}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div
  class:list={[
    "flex w-full",
    position === "center" && "justify-center",
    position === "right" && "justify-end",
  ]}
>
  <figure class="w-[300px]">
    <Image src={images[src]()} alt={alt || ""} />
    <figcaption>{caption}</figcaption>
  </figure>
</div>
