---
import { getCollection } from "astro:content";

interface Props {
  title: string;
  type?: string;
}

const types = await getCollection("measuretypes");

console.log({ types });
const getTypeTitle = (typeId: string | undefined) => {
  return typeId ? types.find((type) => type.id === typeId)?.data.title : "-";
};

const { title, type }: Props = Astro.props;
---

<div class="text-left">
  <p class="font-bold font-serif break-all">{title}</p>
  <p class="text-xs">{getTypeTitle(type)}</p>
</div>
