---
import TopicLabel from "./TopicLabel.astro";
import PartnerLabel from "./PartnerLabel.astro";
import OperatorLabel from "./OperatorLabel.astro";

interface Props {
  topics?: string[];
  operators?: string[];
}

const { operators, topics }: Props = Astro.props;
---

<ul class="flex flex-wrap gap-2 items-end">
  {
    !!topics?.length &&
      topics.map((topic) => (
        <li>
          <TopicLabel topic={topic} />
        </li>
      ))
  }
  {
    !!operators?.length ? (
      operators.map((operator) => (
        <li>
          <OperatorLabel operatorId={operator} />
        </li>
      ))
    ) : (
      <span>-</span>
    )
  }
</ul>
