---
import { Image } from 'astro:assets'
import ProseMarkdown from './ProseMarkdown.astro'

type Props = {
  measure: any
}
const { measure } = Astro.props
const { Content } = await measure.render()
---

<div class="flex flex-col gap-4 md:flex-row">
  <div>
    {
      measure.data.image && (
        <Image
          src={measure.data.image}
          alt=""
          class="aspect-[3/2] w-full shrink-0 object-cover md:h-[200px] md:w-auto md:pt-2 lg:h-[250px]"
        />
      )
    }
    {
      measure.data.imageCopyright && (
        <figcaption class="mt-2 text-left text-xs text-gray-400 md:text-sm">
          © {measure.data.imageCopyright}
        </figcaption>
      )
    }
  </div>
  <ProseMarkdown>
    <Content />
  </ProseMarkdown>
</div>
