---
import { Image } from "astro:assets";
import ProseMarkdown from "./ProseMarkdown.astro";

interface Props {
  measure: any;
}
const { measure } = Astro.props;
const { Content } = await measure.render();
---

<div class="flex flex-col gap-4 md:flex-row">
  <div>
    {
      measure.data.image && (
        <Image
          src={measure.data.image}
          alt=""
          class="w-full md:w-auto object-cover shrink-0 lg:h-[250px] md:h-[200px] md:pt-2 aspect-[3/2]"
        />
      )
    }
    {
      measure.data.imageCopyright && (
        <figcaption class="text-xs text-left mt-2 text-gray-400 md:text-sm">
          © {measure.data.imageCopyright}
        </figcaption>
      )
    }
  </div>
  <ProseMarkdown>
    <Content />
  </ProseMarkdown>
</div>
