---
import { getCollection } from 'astro:content'

type Props = {
  title: string
  type?: string
}

const types = await getCollection('measuretypes')

const getTypeTitle = (typeId: string | undefined) => {
  return typeId ? types.find((type) => type.id === typeId)?.data.title : '-'
}

const { title, type }: Props = Astro.props
---

<div class="text-left">
  <h3 class="break-all font-serif font-extrabold leading-none">{title}</h3>
  <p class="mb-4 mt-2 text-xs">{getTypeTitle(type)}</p>
</div>
