---
import TopicLabel from './TopicLabel.astro'
import PartnerLabel from './PartnerLabel.astro'
import OperatorLabel from './OperatorLabel.astro'

type Props = {
  topics?: string[]
  operators?: string[]
}

const { operators, topics }: Props = Astro.props
---

<ul class="flex flex-wrap items-end gap-2">
  {
    !!topics?.length &&
      topics.map((topic) => (
        <li>
          <TopicLabel topic={topic} />
        </li>
      ))
  }
  {
    !!operators?.length ? (
      operators.map((operator) => (
        <li>
          <OperatorLabel operatorId={operator} />
        </li>
      ))
    ) : (
      <span>-</span>
    )
  }
</ul>
