---
type Props = {
  operatorId: string
}

const getFulloperatorTitle = (operatorId: string) => {
  switch (operatorId) {
    case 'eichwalde':
      return 'Eichwalde'
    case 'schulzendorf':
      return 'Schulzendorf'
    case 'zeuthen':
      return 'Zeuthen'
    case 'wildau':
      return 'Wildau'
    case 'kw':
      return 'Königs-Wusterhausen'
    case 'schoenefeld':
      return 'Schönefeld'
    default:
      return 'Wildau'
  }
}

const getColorClass = (operatorId: string) => {
  switch (operatorId) {
    case 'eichwalde':
      return 'bg-[#AED7A0]'
    case 'schulzendorf':
      return 'bg-[#F9A8D4]'
    case 'zeuthen':
      return 'bg-[#95E8D8]'
    case 'wildau':
      return 'bg-[#BAE6FD]'
    case 'kw':
      return 'bg-[#DDEBA7]'
    case 'schoenefeld':
      return 'bg-[#FFD1B7]'
    default:
      return 'bg-[Wildau]'
  }
}

const { operatorId } = Astro.props as Props
---

<span
  class:list={['py-1px list-none rounded-md px-2 text-sm text-black', getColorClass(operatorId)]}
>
  {getFulloperatorTitle(operatorId)}
</span>
