---
import ProseMarkdown from "./ProseMarkdown.astro";
import H1 from "./Text/H1.astro";
import Section from "./layouts/Section.astro";

interface Props {
  title: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<Section className="mt-12">
  <H1>
    {title}
  </H1>
  {subTitle && <p class="uppercase text-base md:text-xl mb-10">{subTitle}</p>}
  <ProseMarkdown>
    <slot />
  </ProseMarkdown>
</Section>
