---
import clsx from 'clsx'
import ProseMarkdown from './ProseMarkdown.astro'
import H1 from './Text/H1.astro'
import Section from './layouts/Section.astro'

type Props = {
  title: string
  subTitle?: string
  className?: string
}

const { title, subTitle, className } = Astro.props
---

<Section className={clsx('mt-12', className)}>
  <H1 transition:name="h1">
    {title}
  </H1>
  {
    subTitle && (
      <p class="mb-10 text-base md:text-xl" transition:name="subtitle">
        {subTitle}
      </p>
    )
  }
  <ProseMarkdown transition:name="body">
    <slot />
  </ProseMarkdown>
</Section>
