---
import { getCollection } from 'astro:content'

type Props = {
  partnerId: string
}

const { partnerId }: Props = Astro.props
const partners = await getCollection('partners')
const partner = partners.find((partner) => partner.slug === partnerId)
const partnerTitle = partner?.data?.name || partner
const partnerColor = `bg-[${partner?.data?.color || '#FFFBE'}]`
---

<span class:list={['list-none rounded-md px-2 py-px text-sm text-black', partnerColor]}>
  {partnerTitle}
</span>
