---
interface Props {
  partner: string;
}

type TPartnersTableData = {
  [key: string]: {
    color: string;
    title: string;
  };
};

export const partnersTableData: TPartnersTableData = {
  eichwalde: { color: "bg-[#FED7AA]", title: "Gemeinde Eichwalde" },
  schulzendorf: { color: "bg-[#A5F3FC]", title: "Gemeinde Schulzendorf" },
  zeuthen: { color: "bg-[#A7F3D0]", title: "Gemeinde Zeuthen" },
  wildau: { color: "bg-[#A7F3D0]", title: "Gemeinde Wildau" },
  th: { color: "bg-[#7DD3FC]", title: "TH Wildau" },
  tu: { color: "bg-[#C4B5FD]", title: "TU Berlin" },
  fmc: { color: "bg-[#F9A8D4]", title: "FixMyCity" },
  kw: { color: "bg-yellow-600", title: "Königs-Wusterhausen" },
  schoenefeld: { color: "bg-yellow-600", title: "Schönefeld" },
};

const { partner } = Astro.props as Props;
---

<span
  class:list={[
    "text-black rounded-md px-2 py-[1px] list-none text-sm",
    partnersTableData[partner].color,
  ]}
>
  {partnersTableData[partner].title}
</span>
