---
import { getCollection } from 'astro:content'
import { getColorClass } from './CommuneLabel.astro'

type Props = {
  partnerId: string
}

const { partnerId }: Props = Astro.props
const partners = await getCollection('partners')
const partner = partners.find((partner) => partner.id === partnerId)
const partnerTitle = partner?.data?.name || partner
const partnerColorClass = getColorClass(partner?.data.color)
---

<span class:list={['list-none rounded-md px-2.5 py-1 text-sm text-black', partnerColorClass]}>
  {partnerTitle}
</span>
