---
import PartnerLabel from '@components/PartnerLabel.astro'
import TopicLabel from '@components/TopicLabel.astro'
import { format, isPast } from 'date-fns'
import CommuneLabel from './CommuneLabel.astro'

type Props = {
  start: Date
  end?: Date
  communes?: string[]
  projectPartners: string[]
  funding?: string
  topics: string[]
}
const { start, end, communes, projectPartners, funding, topics } = Astro.props
const isProjectPast = end && isPast(end)
---

<div
  class="flex flex-col divide-y divide-gray-200 rounded-sm border border-gray-200 text-gray-500 shadow-lg"
>
  <div class="flex min-w-[200px] flex-shrink-0 flex-col gap-2 p-3 py-4 md:flex-row md:items-center">
    <p class="min-w-[200px] flex-shrink-0">Themen</p>
    <ul class="flex flex-wrap gap-2">
      {
        !!topics?.length ? (
          topics.map((topic) => (
            <li>
              <TopicLabel topic={topic} />
            </li>
          ))
        ) : (
          <span>-</span>
        )
      }
    </ul>
  </div>
  <div class="flex min-w-[200px] flex-shrink-0 flex-col gap-2 p-3 py-4 md:flex-row md:items-center">
    <p class="min-w-[200px] flex-shrink-0">Beteiligte Projektpartner</p>
    <ul class="flex flex-wrap gap-2">
      {
        !!communes?.length &&
          communes.map((c) => (
            <li>
              <CommuneLabel communeId={c} />
            </li>
          ))
      }
      {
        !!projectPartners?.length &&
          projectPartners.map((partner) => (
            <li>
              <PartnerLabel partnerId={partner} />
            </li>
          ))
      }
    </ul>
  </div>

  <div class="flex min-w-[200px] flex-shrink-0 flex-col gap-2 p-3 py-4 md:flex-row md:items-center">
    <p class="min-w-[200px] flex-shrink-0">Projektlaufzeit</p>
    <p class="font-semibold text-black">
      {
        isProjectPast
          ? `Laufzeit: ${format(start, 'MM/yyyy')} bis ${format(end, 'MM/yyyy')}`
          : 'Beginn ' + format(start, 'MM/yyyy')
      }
    </p>
  </div>
  <div class="flex min-w-[200px] flex-shrink-0 flex-col gap-2 p-3 py-4 md:flex-row md:items-center">
    <p class="min-w-[200px] flex-shrink-0 py-4">Finanzierung</p>
    <p class="font-semibold text-black">
      {funding || '-'}
    </p>
  </div>
</div>
