---
import { getCollection } from "astro:content";

interface Props {
  topic: string;
}

const subTopics = await getCollection("subprojectstopics");

const getFullTopicTitle = (topic: string) => {
  const subTopic = subTopics.find((subTopic) => subTopic.id === topic);
  return subTopic ? subTopic.data.title : topic;
};

const { topic } = Astro.props as Props;
---

<li
  class:list={[
    "border text-black text-sm rounded-md border-black px-2 py-[1px]",
  ]}
>
  {getFullTopicTitle(topic)}
</li>
