---
import OperatorLabel from '@components/OperatorLabel.astro'
import TopicLabel from '@components/TopicLabel.astro'

type Props = {
  topics?: string[]
  operators?: string[]
}

const { operators, topics }: Props = Astro.props
---

<ul class="flex flex-wrap items-end gap-2">
  {
    topics?.map((topic) => (
      <li>
        <TopicLabel topic={topic} />
      </li>
    ))
  }
  {
    operators?.length ? (
      operators.map((operator) => (
        <li>
          <OperatorLabel operatorId={operator} />
        </li>
      ))
    ) : (
      <span>-</span>
    )
  }
</ul>
