---
import Section from '@components/layouts/Section.astro'
import { DasboardTabs } from './dashboard/DasboardTabs'
import { getEntry } from 'astro:content'
import { ASTRO_ENV } from 'astro:env/client'

type Props = { townslug: string }
const { townslug } = Astro.props

const town = await getEntry('measuretowns', townslug)
---

<Section extraMargin={false} className="-mb-10 bg-[#C6E6D5] py-5">
  <h2 class="mb-8 text-lg font-bold text-gray-700 md:text-2xl">Ziele und Zahlen</h2>

  {
    // NOTE: Remove this ENV condition to enable the Dashboard on production
    ASTRO_ENV !== 'production' && town && <DasboardTabs client:load data={town.data} />
  }

  {ASTRO_ENV === 'development' && <pre>{JSON.stringify(town, undefined, 2)}</pre>}
</Section>
