---
import Section from '@components/layouts/Section.astro'
---

<Section extraMargin={false} className="-mb-10 bg-[#C6E6D5] py-5">
  <h2 class="mb-2 text-lg font-bold md:text-2xl">Ziele und Zahlen</h2>

  <section>Content</section>
</Section>
