---
import { Picture } from 'astro:assets'
import { getImage } from 'keystatic/components/utils/getImage'
import type { ImageSingleSquare } from './keystatic.ImageSingleSquare.config'

type Props = ImageSingleSquare
const { src, alt, caption, imageConfig } = Astro.props

const image = getImage(src)
const width = imageConfig.discriminant
const position = 'value' in imageConfig ? imageConfig.value : undefined
---

<div
  class:list={[
    position === 'center' && 'justify-center',
    position === 'right' && 'justify-end',
    'my-8 flex w-full',
    'not-prose',
  ]}
>
  <figure class={width === 'half' ? 'w-full md:w-1/2' : 'w-full'}>
    <div class="aspect-[1/1]">
      <Picture
        class="h-full w-full overflow-hidden object-cover"
        pictureAttributes={{ class: 'not-prose w-full' }}
        src={image}
        alt={alt || ''}
        loading="lazy"
        height={width === 'half' ? 920 / 2 : 920}
        formats={['jpg', 'avif']}
        densities={[1.5, 2]}
      />
    </div>
    {caption && <figcaption class="mt-2 text-xs md:text-sm">{caption}</figcaption>}
  </figure>
</div>
