---
import { Image } from 'astro:assets'
import { getImage } from 'keystatic/components/utils/getImage'
import type { ImageSingleSquare } from './keystatic.ImageSingleSquare.config'

type Props = ImageSingleSquare
const { src, alt, caption, imageConfig } = Astro.props

const image = getImage(src)
const width = imageConfig.discriminant
const position = 'value' in imageConfig ? imageConfig.value : undefined
---

<div
  class:list={[
    position === 'center' && 'justify-center',
    position === 'right' && 'justify-end',
    'my-8 flex w-full',
    'not-prose',
  ]}
>
  <figure class:list={[width === 'half' ? 'w-full md:w-1/2' : 'w-full']}>
    <div class:list={['aspect-[1/1]']}>
      <Image
        class="h-full w-full overflow-hidden object-cover"
        src={image}
        alt={alt || ''}
        loading="lazy"
      />
    </div>
    {caption && <figcaption class="mt-2 text-xs md:text-sm">{caption}</figcaption>}
  </figure>
</div>
